# Node & Vite
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
.sqlite3

# Environment
.env

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
